bintrees>=2.0.7
certifi>=2017.4.17
chardet>=3.0.4
coinbase>=2.0.6
colorama>=0.3.9
cycler>=0.10.0
fix-yahoo-finance>=0.0.19
gevent>=1.2.2
greenlet>=0.4.12
idna>=2.5
int-date>=0.1.8
keyring>=10.4.0
matplotlib>=2.0.2
multitasking>=0.0.4
numpy>=1.13.1
pandas>=0.20.3
py>=1.4.34
pycrypto>=2.6.1
PyMySQL>=0.7.11
pyparsing>=2.2.0
pytest>=3.2.2
python-dateutil>=2.6.1
pytz>=2017.2
pywin32-ctypes>=0.1.2
requests>=2.18.1
simplejson>=3.11.1
six>=1.10.0
SQLAlchemy>=1.1.14
stockstats>=0.2.0
urllib3>=1.21.1
websocket-client>=0.44.0
winrandom>=1.2.1
yagmail>=0.10.190
yahoo-finance>=1.4.0
