body{
    background-color:#DFEAF0;
}

.main-box{
    max-width: 1100px;
    position:relative;
    left:20%;
    top:50%;
}

.main-nav{
    width:100%;
    text-color:white;
    border-style:solid;
    border-width:2px;
}

.footer{
    font-size: 10px;
    font-style: italic;
    font-color: grey;
}
